## Importing the dataset from the external csv file using the spark schema

In [42]:
# start session of spark using spark session to process the bigdata in parallel instead of python pandas
# print the dataschema of the dataset
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('ml-bank').getOrCreate()
df = spark.read.csv('sampled.csv', header = True, inferSchema = True)
df.printSchema()

root
 |-- order_id: integer (nullable = true)
 |-- product_id: integer (nullable = true)
 |-- user_total_orders: integer (nullable = true)
 |-- user_total_items: integer (nullable = true)
 |-- total_distinct_items: integer (nullable = true)
 |-- user_average_days_between_orders: double (nullable = true)
 |-- user_average_basket: double (nullable = true)
 |-- dow: integer (nullable = true)
 |-- order_hour_of_day: integer (nullable = true)
 |-- days_since_prior_order: integer (nullable = true)
 |-- days_since_ratio: double (nullable = true)
 |-- aisle_id: integer (nullable = true)
 |-- department_id: integer (nullable = true)
 |-- product_orders: integer (nullable = true)
 |-- product_reorders: double (nullable = true)
 |-- product_reorder_rate: double (nullable = true)
 |-- z: integer (nullable = true)
 |-- UP_orders: integer (nullable = true)
 |-- UP_orders_ratio: double (nullable = true)
 |-- UP_last_order_id: integer (nullable = true)
 |-- UP_average_pos_in_cart: double (nullable = true)
 |-- UP_reorder_rate: double (nullable = true)
 |-- UP_orders_since_last: integer (nullable = true)
 |-- UP_delta_hour_vs_last: integer (nullable = true)
 |-- labels: integer (nullable = true)

In [43]:
## Test the data exported using the spark is valid with pandas and describtion of the data set 
## for better understanding
import pandas as pd
pd.DataFrame(df.take(5), columns=df.columns).transpose()

,0,1,2,3,4
order_id,1.187899e+06,1.187899e+06,1.187899e+06,1.187899e+06,1.187899e+06
product_id,1.712200e+04,1.960000e+02,2.640500e+04,4.614900e+04,1.408400e+04
user_total_orders,1.100000e+01,1.100000e+01,1.100000e+01,1.100000e+01,1.100000e+01
user_total_items,5.900000e+01,5.900000e+01,5.900000e+01,5.900000e+01,5.900000e+01
total_distinct_items,1.800000e+01,1.800000e+01,1.800000e+01,1.800000e+01,1.800000e+01
user_average_days_between_orders,1.727273e+01,1.727273e+01,1.727273e+01,1.727273e+01,1.727273e+01
user_average_basket,5.363636e+00,5.363636e+00,5.363636e+00,5.363636e+00,5.363636e+00
dow,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00
order_hour_of_day,8.000000e+00,8.000000e+00,8.000000e+00,8.000000e+00,8.000000e+00
days_since_prior_order,1.400000e+01,1.400000e+01,1.400000e+01,1.400000e+01,1.400000e+01
days_since_ratio,8.105263e-01,8.105263e-01,8.105263e-01,8.105263e-01,8.105263e-01
aisle_id,2.400000e+01,7.700000e+01,5.400000e+01,7.700000e+01,9.100000e+01
department_id,4.000000e+00,7.000000e+00,1.700000e+01,7.000000e+00,1.600000e+01
product_orders,1.388000e+04,3.579100e+04,1.214000e+03,8.558000e+03,1.593500e+04
product_reorders,9.377000e+03,2.779100e+04,5.360000e+02,6.953000e+03,1.292300e+04
product_reorder_rate,6.755764e-01,7.764801e-01,4.415157e-01,8.124562e-01,8.109821e-01
z,6.712200e+04,5.019600e+04,7.640500e+04,9.614900e+04,6.408400e+04
UP_orders,1.000000e+00,1.000000e+01,2.000000e+00,3.000000e+00,1.000000e+00
UP_orders_ratio,9.090909e-02,9.090909e-01,1.818182e-01,2.727273e-01,9.090909e-02
UP_last_order_id,4.315340e+05,3.367565e+06,2.539329e+06,3.108588e+06,2.539329e+06
UP_average_pos_in_cart,6.000000e+00,1.400000e+00,5.000000e+00,3.000000e+00,2.000000e+00
UP_reorder_rate,9.090909e-02,9.090909e-01,1.818182e-01,2.727273e-01,9.090909e-02
UP_orders_since_last,6.000000e+00,5.000000e+00,1.000000e+01,3.000000e+00,1.000000e+01
UP_delta_hour_vs_last,7.000000e+00,1.000000e+00,0.000000e+00,6.000000e+00,0.000000e+00
labels,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00

## Data set summary using the mean maximum mininum and standard deviation

In [44]:
numeric_features = [t[0] for t in df.dtypes if t[1] == 'int']
df.select(numeric_features).describe().toPandas().transpose()

,0,1,2,3,4
summary,count,mean,stddev,min,max
order_id,200000,1713884.290375,978079.994815277,988,3419642
product_id,200000,25497.863965,14207.50981904984,1,49683
user_total_orders,200000,25.87698,22.208253018013558,4,100
user_total_items,200000,295.68659,296.05106676947287,3,2343
total_distinct_items,200000,109.60159,74.66360547644189,1,448
dow,200000,2.800755,2.171662959709692,0,6
order_hour_of_day,200000,13.41037,4.174296777526455,0,23
days_since_prior_order,200000,14.462315,10.230197609307995,0,30
aisle_id,200000,70.982795,38.03233152567916,1,134
department_id,200000,10.21106,6.215649350460844,1,21
product_orders,200000,22720.04431,56200.065545820464,1,472565
z,200000,1.26602985363965E8,7.248827972820422E7,50196,251949235
UP_orders,200000,2.42809,3.5468227826689156,1,91
UP_last_order_id,200000,2069969.04594,989808.8011089945,102,3420853
UP_orders_since_last,200000,12.88324,15.080882078559629,1,99
UP_delta_hour_vs_last,200000,4.006695,3.1487949681622354,0,12
labels,200000,0.10176,0.30233319273079556,0,1

In [45]:
df=df.fillna(0)

## Creating the stage for preprocessing , creation of feature vector space and label from the existing dataframe

In [68]:
# Stages are used to process the data in the sequential format to avoid the parallel processing 
# due to data inconsistancy. And each stages are added to the list of stages array subsequently.
stages = []
from pyspark.ml.feature import VectorAssembler


# Ignoring the features which are not required to create the feature vector space
ignore = ['order_id','labels','dow']
assembler = VectorAssembler(
    inputCols=[x for x in df.columns if x not in ignore],
    outputCol='features')

stages += [assembler]

### Preprocessing the data to valid form to feed the model

In [69]:
# Convert label into label indices using the StringIndexer
from pyspark.ml import Pipeline
from pyspark.ml.feature import OneHotEncoderEstimator, StringIndexer, VectorAssembler

# Using string indexer to create the labels
label_stringIdx = StringIndexer(inputCol="labels", outputCol="label")
stages += [label_stringIdx]

### Creating the LogisticRegression

In [70]:
from pyspark.ml.classification import LogisticRegression
  
partialPipeline = Pipeline().setStages(stages)
pipelineModel = partialPipeline.fit(df)
preppedDataDF = pipelineModel.transform(df)

In [71]:
# Fit model to prepped data
lrModel = LogisticRegression().fit(preppedDataDF)

# ROC for training data
display(lrModel, preppedDataDF, "ROC")

LogisticRegressionModel: uid = LogisticRegression_5a5323113b32, numClasses = 2, numFeatures = 22

DataFrame[order_id: int, product_id: int, user_total_orders: int, user_total_items: int, total_distinct_items: int, user_average_days_between_orders: double, user_average_basket: double, dow: int, order_hour_of_day: int, days_since_prior_order: int, days_since_ratio: double, aisle_id: int, department_id: int, product_orders: int, product_reorders: double, product_reorder_rate: double, z: int, UP_orders: int, UP_orders_ratio: double, UP_last_order_id: int, UP_average_pos_in_cart: double, UP_reorder_rate: double, UP_orders_since_last: int, UP_delta_hour_vs_last: int, labels: int, features: vector, label: double]

'ROC'

In [72]:
# Keep relevant columns
selectedcols = ["label", "features"]
dataset = preppedDataDF.select(selectedcols)
display(dataset)

DataFrame[label: double, features: vector]

In [73]:
### Randomly split data into training and test sets. set seed for reproducibility
(trainingData, testData) = dataset.randomSplit([0.7, 0.3], seed=100)
print(trainingData.count())
print(testData.count())

140102
59898

In [74]:
from pyspark.ml.classification import LogisticRegression

# Create initial LogisticRegression model
lr = LogisticRegression(labelCol="label", featuresCol="features", maxIter=10)

# Train model with Training Data
lrModel = lr.fit(trainingData)

In [75]:
# Make predictions on test data using the transform() method.
# LogisticRegression.transform() will only use the 'features' column.
predictions = lrModel.transform(testData)

In [76]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator

# Evaluate model
evaluator = BinaryClassificationEvaluator(rawPredictionCol="rawPrediction")
evaluator.evaluate(predictions)

0.8020520972333169

### RandomForest Classifier

In [82]:
from pyspark.ml.classification import RandomForestClassifier

# Create an initial RandomForest model.
rf = RandomForestClassifier(labelCol="label", featuresCol="features")

# Train model with Training Data
rfModel = rf.fit(trainingData)

In [83]:
# Make predictions on test data using the transform() method.
# LogisticRegression.transform() will only use the 'features' column.
predictions = rfModel.transform(testData)

In [84]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator

# Evaluate model
evaluator = BinaryClassificationEvaluator(rawPredictionCol="rawPrediction")
evaluator.evaluate(predictions)

0.7942094863657846

In [85]:
evaluator.getMetricName()

'areaUnderROC'

### DecisionTree Classifier

In [89]:
from pyspark.ml.classification import DecisionTreeClassifier

# Create initial Decision Tree Model
dt = DecisionTreeClassifier(labelCol="label", featuresCol="features", maxDepth=3)

# Train model with Training Data
dtModel = dt.fit(trainingData)

In [93]:
print("numNodes = ", dtModel.numNodes)
print("depth = ", dtModel.depth)

numNodes =  5
depth =  2

In [94]:
display(dtModel)

DecisionTreeClassificationModel (uid=DecisionTreeClassifier_436df87d7f7a) of depth 2 with 5 nodes

In [95]:
# Make predictions on test data using the Transformer.transform() method.
predictions = dtModel.transform(testData)

In [96]:
predictions.printSchema()

root
 |-- label: double (nullable = false)
 |-- features: vector (nullable = true)
 |-- rawPrediction: vector (nullable = true)
 |-- probability: vector (nullable = true)
 |-- prediction: double (nullable = false)

In [97]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator
# Evaluate model
evaluator = BinaryClassificationEvaluator()
evaluator.evaluate(predictions)

0.31958503271457467

### LogisticRegression      - Score 80%
### RandomForest Classifier - Score 79%
### DecisionTree Classifier - Score 32%

### Best model is LogisticRegression

### Cross validation for LogisticRegression

In [77]:
from pyspark.ml.tuning import ParamGridBuilder, CrossValidator

# Create ParamGrid for Cross Validation
paramGrid = (ParamGridBuilder()
             .addGrid(lr.regParam, [0.01, 0.5, 2.0])
             .addGrid(lr.elasticNetParam, [0.0, 0.5, 1.0])
             .addGrid(lr.maxIter, [1, 5, 10])
             .build())

In [78]:
# Create 5-fold CrossValidator
cv = CrossValidator(estimator=lr, estimatorParamMaps=paramGrid, evaluator=evaluator, numFolds=5)

# Run cross validations
cvModel = cv.fit(trainingData)
# this will likely take a fair amount of time because of the amount of models that we're creating and testing

In [79]:
# Use test set to measure the accuracy of our model on new data
predictions = cvModel.transform(testData)

In [80]:
# cvModel uses the best model found from the Cross Validation
# Evaluate best model
evaluator.evaluate(predictions)

0.8011044610624181